<% unless flash.empty? %>
  <% flash.each do |f| %>
    <% type = f[0].to_s.gsub("alert", "error").gsub("notice","positive") %>
    <div class="ui <%= type %> message">
      <i class="close icon"></i>
      <%= f[1] %>
    </div>
  <% end %>
<% end %>