// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.form.room {
  margin-top: 2rem;
}
.room-img {
  border: 1px solid rgba(34,36,38,.15);
  border-radius: .28571429rem;
  padding-bottom: 1em;
  position: relative;
  margin:1em;
}

.room-img img {
  height: 10em !important;
}

.photos.right.remove {
  cursor: pointer;
  float:right;
}

a .photos.right.remove {
  color: #333333;
}

.listing img {
  width: 6em;
  height: 6em;
}

.column.room-full-img {
  width: 95%;
  margin: 0 auto;
}
